
$backgroundcolor_white: rgba(255, 255, 255, 1);
$backgroundcolor_grey: rgba(244, 245, 239, 1);
$color_font: rgba(240, 119, 65, 1);
$color_button: rgba(244, 245, 239, 1);
$color_fon: rgba(255, 255, 255, 1);
$color_form: rgba(0, 0, 0, 0.2);