.choose_tkani {
    margin-top: 46px;  /*было 126рх*/
  
  }
  
  .choose_tkani {
    margin-top: 126px;      /*не знаю что это*/
    margin-bottom: 40px;    /*было 26px*/
  }
  
  .choose_tkani__row {    /*не знаю что это*/
    height: 566px;
    position: relative;
    margin-top: 27px;
    display: flex;
    padding-left: 34px;
    padding-right: 34px;
  }

  .choose_tkani__img {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    width: 592px;
  }