.choose_tkani {
    margin-top: 45px;  /*было 126рх*/
  
  }
  
  .choose_tkani {
    margin-top: 126px;      /*не знаю что это*/
    margin-bottom: 40px;    /*было 26px*/
  }
  
  .choose_tkani__row {   
    width: 864px; /*не знаю что это*/
    //height: 566px;
    //position: relative;
    margin-top: 27px;
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    //padding-left: 34px;
    //padding-right: 34px;
    margin: 0px auto;
  }

 