.choose_tkani {
    margin-top: 45px;  
  
  }
  
  .choose_tkani {
    margin-top: 126px;      
    margin-bottom: 40px;  
  }
  
  .choose_tkani__row {   
    width: 1024px; 
    height: 1000px;
    position: relative;
    //display: flex;
    //flex-wrap: wrap;
    //gap: 42px;
    //padding-left: 34px;
    //padding-right: 34px;
    margin: 0px auto;
    overflow-x: hidden;
  }
  .slider {
    display: flex;
    width: 300%;
    position: absolute;
    left: -100%;
    transition-duration: 3s;
  }
  .photo__image {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    width: 100%;
    margin-top: 27px;
    justify-content: space-around;
    
    img {
      height: 400px;
    }
  }
  .arrows {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    top: calc(50% + 10px);
    opacity: 0;
    transition: all 2s;
    button{
      font-size: 40px;
    }
  
    .slider:hover + &, &:hover {
      opacity: 1;
    }
  }
  
  .move_left {
    animation-name: move_left;
    animation-duration: 2s;
  }
  
  @keyframes move_left { 
    0% { 
      left: -100%;
    } 
    100% {
      left: -200%;
    } 
  }
  
  .move_right {
    animation-name: move_right;
    animation-duration: 2s;
  }
  
  @keyframes move_right { 
    0% { 
      left: -100%;
    } 
    100% {
      left: 0%;
    } 
  }
 