.furnitura {
    margin-top: 75px;
    position: relative;
    filter: grayscale(img src="./assets/jpg/Ф.люверсы.jpg" alt="Люверсы");
    //display: flex;
    //flex-direction: column;
    
  }
  
  .furnitura__row {
    margin-bottom: 30px;
    h1 {
      text-align: center;
    }
  }
  
  /*.button__row {
    right: 41px;
    display: flex;
    position: absolute;
    margin-top: -30px;
  }*/

  
  /*.furnitura__column__row1 {
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: space-between;
    width: 782px;
    height: 130px;
}*/
    .furnitura__block__row {
       display: flex;
       align-items: center;
       margin-left: 345px;
       margin-top: 57px;
  
  }