.price {
    margin-top: 54px;
    position: absolute;
  
    h1 {
      text-align: center;
    }
  }
  
  .price__button__row {
    right: 46px;
    position: absolute;
    margin-top: -30px;
  }
  
  .price__blocks {
    display: flex;
    justify-content: space-between;
    gap: 106px;
    margin-top: 57px;
    padding-left: 121px;
  }
  
  .price__material {
    width: 270px;
    height: 346px;
  }
 
  .price__from {
      width: 30px;
      height: 377px;
  }

  .price__price {
  width: 290px;
  height: 377px;
  }

  .price__measure {
  width: 71px;
  
  }

  
    
          