.price {
    margin-top: 136px;
    
  }
  
  .price__row {
    display: flex;
    //justify-content: space-between;
    padding: 57px 78px 240px 121px;
    align-items: center;
    width: 1000px;
    @media screen and (max-width:768px) {
      padding: 57px 0px 240px 0px;
    }

  }
  
  .price__material {
    text-align: left;
    h1{
      padding-top: 75px;
      padding: 25px 0px 25px 0px;
     // padding-left: 250px;
    }
   
  }
  


  .price__from {
      width: 30px;
      margin-top: 10px;
      margin-left: 125px;
      h2{margin-bottom: 50px;}
  }

  .price__price {
  width: 500px;
  text-align: left;
  margin-left: 29px;
  h1{
    margin: 45px 0px 45px 0px;
  }
}

  .price__measure {
  width: 71px;
  margin-top: 10px;
  margin-left: 170px;
  h2{margin-bottom: 40px;}
 
  }

  
    
          