//_video.scss


.video {
    h1 {
      text-align: center;
    }
  
    margin-top: 148px;
  }
  
  .video__img {
    margin-top: 75px;
    iframe {
      width: 900px;
      height: 500px;
            //background: url(image.png);  /*добавила эти 2 строчки радиус*/                      border-radius: 20px;
            border-radius: 20px;
          }
  }

  